<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - APLOIP</title>

    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.2/css/all.css" rel="stylesheet"
          asp-fallback-href="~/lib/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <div class="container-fluid main">
        <nav class="navbar navbar-expand-lg shadow-sm   navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" asp-page="/Index">
                    APLOIP @ViewData["Title"]
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].Equals("HOME")?"active":"")" asp-page="/Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].Equals("PEDIA")?"active":"")" asp-page="/Pedia">PEDIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].Equals("REPOSITORY")?"active":"")" asp-page="/Repository">REPOSITORY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewData["Title"].Equals("ABOUT")?"active":"")" asp-page="/About">ABOUT</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link" href="#">Three</a>
                        </li>-->
                    </ul>
                    <form id="search" class="form-inline" action="/Search" method="GET">
                        <div class="input-group">
                            <input name="query" class="form-control input-group" placeholder="Search" aria-label="search" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary btn-group" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <div id="primary" class="container content">
            @RenderBody()
        </div>
    </div>

    <footer class="container content">
        <hr />
        <p>&copy; 2019 - APLIOP</p>
    </footer>

    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.min.js"></script>
    <!--<script src="https://cdn.bootcss.com/popper.js/1.15.0/popper.min.js"></script>-->
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
