@page "/Pedia/{title}"
@model APLOIP.Pages.PediaEntryModel
@{
    ViewData["Title"] = "PEDIA";
}

<style>
    #page-basic-class-title {
        font-size: 1.5rem;
        color: grey;
    }

    #toolbar {
        user-select: none;
        /*display:inline-block;*/
        display: none;
        border-radius: 0.5em;
        padding: 0.1rem 0.1rem 0.1rem 0.1rem;
        background-color: transparent;
    }
    .img-selectable{
        cursor:pointer;
        transition:opacity linear 0.1s;
    }
    .img-selectable:hover{
        border-color: #808080;
        box-shadow: 0 0 10px #808080;
    }
    #img-selected{
        opacity: 0.5;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
    }
    #img-selected::after{
        content:"1";
        z-index:10000;
        height:100%;
        width:100%;
        position:absolute;
        left:0;
        opacity:0.5;
        background-color:green;
    }
    .transparent {
        opacity: 0;
    }

        #toolbar > button {
            display: inline-block;
            position: relative;
            height: 2.3rem;
            margin: 0.05rem 0.05rem 0.05rem 0.05rem;
        }

            #toolbar > button > .fa {
                font-size: 1.2rem;
            }

    .editToolbar {
        display: none;
        float: right;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .paragraph {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .img-33 {
        width: 33%;
    }
    .img-paragraph {
        display: block;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        max-width: 100%;
    }
    #modal-dialog-scrollable {
        max-height: calc(100vh - 7rem);
    }
    #trashpara {
        display: none;
    }
</style>

@Html.AntiForgeryToken()
<button type="button" id="btn-edit" class="btn btn-light float-right">Edit</button>
<button type="button" class="btn btn-light editToolbar" data-toggle="modal" data-target="#modal-exit">Exit</button>
<button type="button" class="btn btn-light editToolbar" data-toggle="modal" data-target="#modal-settings">Settings</button>
<button type="button" class="btn btn-info editToolbar" data-toggle="modal" data-target="#modal-save">Save</button>

<h1 id="page-title">@Html.DisplayFor(model => model.PageEntry.DisplayTitle)</h1>
<hr />
@if (!Model.IsBasicEntry(Model.PageEntry))
{
    <h2 id="page-basic-class-title">
        @PediaEntryModel.BasicClasses.Find(basicClassObj => basicClassObj.ID == Model.PageEntry.BasicClassID)?.DisplayTitle
    </h2>
}
<div id="view">
    @Html.Raw(Model.PageEntry.PageContent)
</div>

<div id="popper"></div>
<div id="trashpara"></div>
<span id="toolbar">
    <button type="button" id="insertline" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Insert a paragraph" class="btn btn-light"><span class="fa fa-plus"></span></button>
    <button type="button" id="removeline" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Remove the current paragraph" class="btn btn-light"><span class="fa fa-minus"></span></button>
    <button type="button" id="insertImage" data-container="body" data-toggle="modal" data-target="#modal-upload-image" data-placement="bottom" data-content="Insert an image" class="btn btn-light"><span class="fa fa-image"></span></button>
</span>
<div id="modal-save" class="modal fade" role="dialog" aria-labelledby="Save the changes" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5>Save</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to save all changes you have made to this entry?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-save" type="button" class="btn btn-info">Save</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-settings" class="modal fade" role="dialog" aria-labelledby="Settings" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5>Settings</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form id="settings">
                    <div class="form-group">
                        <label for="DisplayTitle">DisplayTitle</label>
                        <input id="DisplayTitle" name="DisplayTitle" type="text" class="form-control" placeholder="@Model.PageEntry.DisplayTitle" value="@Model.PageEntry.DisplayTitle" />
                    </div>
                    <div class="form-group">
                        <label for="BasicClass">BasicClass</label>
                        <select id="BasicClass" class="form-control" value="@Model.PageEntry.BasicClassID"
                                @if (Model.IsBasicEntry(Model.PageEntry)) { @Html.Raw("disabled") }>
                            <option value="0">None</option>
                            @if (PediaEntryModel.BasicClasses.Count > 0)
                            {
                                @foreach (BasicClass basicClass in PediaEntryModel.BasicClasses)
                                {
                                    @Html.Raw("<option value=" + basicClass.ID + ((Model.PageEntry.BasicClassID == basicClass.ID) ? " selected" : "") + ">" + @basicClass.DisplayTitle + "</option>")
                                }
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-settings" type="button" class="btn btn-info">Apply</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-upload-image" class="modal fade" role="dialog" aria-labelledby="UploadImage" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5>Upload</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body mx-auto">
                <div class="btn-group">
                    <button id="btn-sec-upload" class="btn btn-primary">Upload</button>
                    <button id="btn-sec-browse" class="btn btn-outline-primary">Browse</button>
                </div>
                <div id="modal-sec-upload" class="collapse show">
                    <form id="image-form" onsubmit="(e) => e.preventDefault()">
                        <input name="UniqueTitle" value="@Model.PageEntry.UniqueTitle" hidden="hidden" />
                        <div class="custom-file">
                            <input id="upload-select" accept="image/*" asp-for="ImageUpload" type="file" class="custom-file-input" />
                            <label class="custom-file-label" for="upload-select">Upload an image</label>
                        </div>
                    </form>
                    <img id="image-preview" class="img-fluid" />
                </div>
                <div id="modal-sec-browse" class="collapse">
                    <div id="no-image-card" class="card">
                        <div class="card-body">
                            <p>No images to be shown</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btn-img-insert" type="button" class="btn btn-primary hide">Insert</button>
                <button id="btn-upload" type="button" class="btn btn-info">Upload</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-exit" class="modal fade" role="dialog" aria-labelledby="Discard the changes and exit" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h5>Exit</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to discard all the unsaved changes and exit? </p>
            </div>
            <div class="modal-footer">
                <button id="btn-exit" type="button" class="btn btn-danger" data-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
    var edit = false;
    var $focus;
    var $imgTarget;
    var history = [$focus];
    $('[data-toggle="popover"]').popover();
    $('[data-toggle="popover"]').hover(function () {
        $(this).popover('show');
    });
    $('[data-toggle="popover"]').mouseleave(function () {
        $(this).popover('hide');
    });

    function paraInit($obj) {
        $obj.mousedown(function () {
            $focus = $(this);
            $("#toolbar").insertAfter($(this));
            $("#toolbar").finish().fadeIn(200);
        });
        $obj.focusout(function () {
            //$("#toolbar").finish().fadeOut(200);
        });
    }
    function imgInsert($target, src) {
        var $newImg = $('<img class="img-paragraph img-selectable"></img>');
        $newImg.insertBefore($target);
        $newImg.attr("src", src);
        paraInit($newImg);
        $newImg.slideDown(50);
        //将焦点移到新加图片上
        $newImg.mousedown();
    }
    function paraInsert($target) {
        var $newPara = $('<div class="paragraph"></div>');
        $newPara.insertBefore($target);
        BalloonEditor.
            create($newPara.get(0), {
                placeholder: "Click to edit the paragraph"
            });
        paraInit($newPara);
        $newPara.slideDown(50);
        $newPara.mousedown();
    }

    $("#btn-edit").mousedown(function () {
        if (edit)
            return;
        $(this).fadeOut(250, () => $(".editToolbar").fadeIn(250));
            $("#btn-img-insert").hide();
        //若编辑视图中存在 空内容的占位段落，则在初始化的时候将其删除
        if ($("#view > .tempintro").length == 1) {
            paraInsert($(".tempintro"));
            $(".tempintro").remove();
        }
        else {
            $(".paragraph").each(function () {
            BalloonEditor.
                create(this, {
                    placeholder: "Click to edit the paragraph"
                });
            });
            $(".img-paragraph").addClass("img-selectable");
            paraInit($(".paragraph, .img-paragraph"));
        }
    });
    //用户点击保存按钮事件
    $("#btn-save").mousedown(function () {
        //判断上一个保存请求是否完成
        if (!$(this).data("isCompleted") && $(this).data("isCompleted") != undefined)
            return;
        //将编辑器元素从
        var $content = $("#view").clone();
        $content.hide();
        $content.find("#toolbar").remove();
        $content.find(".ck-placeholder").remove();
        $content.find(".paragraph, .img-paragraph").each((index, element) => {
            var className;
            if ($(element).hasClass("paragraph"))
                className = "paragraph";
            else
            if ($(element).hasClass("img-paragraph"))
                className = "img-paragraph";
            while (element.attributes.length > 0)
            {
                element.removeAttribute(element.attributes[0].name);
            }
            $(element).attr("class", className);
        });
        $content.find("*[data-placeholder]").removeAttr("data-placeholder");
        var postData = {
            "UniqueTitle":"@Model.PageEntry.UniqueTitle",
            "BasicClassID":$('#BasicClass').val(),
            "DisplayTitle":($("#DisplayTitle").val().trim()!="")?$("#DisplayTitle").val().trim():"@Model.PageEntry.DisplayTitle",
            "PageContent": $content.html()
        };

        $.ajax({
            url: '/Pedia/@Model.PageEntry.UniqueTitle?handler=Save',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            beforeSend: (xhr) => {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $("input:hidden[name=__RequestVerificationToken]").val());
            },
            error: function () {
                console.log("error");
            },
            success: function (data) {
                if (data[0] == 1) {
                    console.log("save succeed");
                }
            },
            complete: () => {
                $("#modal-save").modal("hide");
                $(this).data("isCompleted", true);
            }
        })
    });
    //用户点击退出事件
    $("#btn-exit").mousedown(function () {
            location.reload();
    });
    function saveSettings() {
        $("#page-title").text(($("#DisplayTitle").val().trim() != "")?$("#DisplayTitle").val().trim():"@Model.PageEntry.DisplayTitle");
        var text = $("#BasicClass > option").eq($('#BasicClass').val()).text();
        if (text != "None") {
            $("#page-basic-class-title").text(text);
        }
        else {
            $("#page-basic-class-title").text("");
        }
        $("#modal-settings").modal("hide");
    }
    $("#settings").submit(function (e) {
        e.preventDefault();
        saveSettings();
    });
    $("#btn-settings").mousedown(function () {
        saveSettings();
    });
    //用户点击保存设置事件
    $("#insertline").mousedown(function () {
        paraInsert($("#toolbar"));
    });
    $("#removeline").mousedown(function () {
        var $thisPara = $focus;
        if ($thisPara != undefined && $thisPara != null) {
            if ($thisPara.prev(".paragraph, .img-paragraph") != undefined && $thisPara.prev(".paragraph, .img-paragraph") != null)
                $focus = $thisPara.prev(".paragraph, .img-paragraph");
            else
            if ($thisPara.next(".paragraph, .img-paragraph") != undefined && $thisPara.next(".paragraph, .img-paragraph") != null)
                $focus = $thisPara.next(".paragraph, .img-paragraph");
        }
        if ($("#view").find(".paragraph, .img-paragraph").length == 1)
            paraInsert($("#toolbar"));
        $thisPara.fadeOut(200, function () {
            $(this).appendTo("#trashpara");
        });
    });
    $("#btn-sec-upload").mousedown(function () {
        $("#modal-sec-upload").collapse('show');
        $("#modal-sec-browse").collapse('hide');
        $("#btn-img-insert").hide();
        $("#btn-upload").show();
        $("#modal-upload-image").removeClass("modal-dialog-scrollable");
    });
    $("#btn-sec-browse").mousedown(function () {
        $("#modal-sec-upload").collapse('hide');
        $("#modal-sec-browse").collapse('show');
        $("#btn-img-insert").show();
        $("#btn-upload").hide();
        $("#modal-upload-image").addClass("modal-dialog-scrollable");
        var formData = new FormData();
        formData.append("UniqueTitle", "@Model.PageEntry.UniqueTitle");
        $.ajax({
            url: '/Pedia/@Model.PageEntry.UniqueTitle?handler=FetchImage',
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            beforeSend: (xhr) => {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $("input:hidden[name=__RequestVerificationToken]").val());
            },
            success: function (data) {
                var images = JSON.parse(data);
                if (images != null && images.length > 0) {
                    $("#no-image-card").hide();
                    $("#modal-sec-browse > img").remove();
                    for (var i = 0; i < images.length; i++) {
                        var img = $("<img></img>");
                        console.log(img.addClass("img-33 img-selectable")
                            .attr("src", images[i])
                            .appendTo("#modal-sec-browse")
                            .mousedown(function () {
                                if ($imgTarget != undefined && $imgTarget != null)
                                    $imgTarget.removeAttr("id");
                                $imgTarget = $(this).attr("id", "img-selected");
                            })
                        );
                    }
                }
                else {
                    $("#no-image-card").show();
                }
            },
            complete: function () {

            }
        });
    });
    $("#upload-select").change(function (e) {
        $("#image-preview").attr("src", URL.createObjectURL(this.files[0]));
        var fileName = $(this).val();
        $(this).next('.custom-file-label').html(fileName.replace("C:\\fakepath\\", ""));
    });
    $("#btn-upload").mousedown(function () {
        var formData = new FormData($("#image-form")[0]);
        formData.append("UniqueTitle", "@Model.PageEntry.UniqueTitle");
        $.ajax({
            url: '/Pedia/@Model.PageEntry.UniqueTitle?handler=SaveImage',
            type: "post",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            beforeSend: (xhr) => {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $("input:hidden[name=__RequestVerificationToken]").val());
            },
            success: function (data) {
                var res = JSON.parse(data);
                $("#image-preview").attr("src", res);
                $("#modal-upload-image").modal('hide');
                imgInsert("#toolbar", res);
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $("#btn-img-insert").mousedown(function () {
        if ($imgTarget != undefined && $imgTarget != null) {
            if ($imgTarget != undefined && $imgTarget != null)
                $imgTarget.removeAttr("id");
            imgInsert("#toolbar", $imgTarget.attr("src"));
            $imgTarget = null;
            $("#modal-upload-image").modal('hide');
        }
        else
            console.log("invalid");
    });
    </script>
}