@page "/Repository"
@model APLOIP.Pages.RepositoryModel
@{
    ViewData["Title"] = "REPOSITORY";
}

<style>
    .float-card {
        width: 45%;
        margin: 1rem 1rem 1rem 1rem;
    }
    @@media screen and (max-width:767px) {
        .float-card {
            width: 75%;
            margin: 1rem auto 1rem auto;
        }
    }
</style>
<h1>Repository</h1>
<hr />
@foreach(var i in Model.RepoEntries)
{
    <div class="card float-md-left float-card">
        <div class="card-header"><h5 class="card-text">@i.DisplayTitle</h5></div>
        <div class="card-body">
            <p>
                Owner:&nbsp;
                @if (i.Owner != "anonymous")
                {
                    @Html.Raw(i.Owner)
                }
                else
                {
                    @Html.Raw("an " + @i.Owner + " user");
                }
            </p>
            <p>@i.Description</p>
            <p style="color:grey">@i.OperatiorType uploaded in @i.CreationTime.ToString()</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary text-decoration-none" href="~/Repository/@i.OperatiorType/@i.UniqueTitle">Go</a>
        </div>
    </div>
}
